.settings-parent-div {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: default;
}

.settings-div {
    position: fixed;
    top: 270px;
    left: 15px;
    width: 20vw;
    height: 200px;
    background-color: var(--main-orange);
    color: var(--main-text);
    border-radius: 20px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.settings-div .item {
    cursor: pointer;
}

.settings-div .item:hover{
    color: var(--secondary-background);
}