.invisible-div {
    background-color: var(--main-background);
    position: fixed;
    z-index: 5;
    top: 0;
    height: calc(5vh + 15px);
    width: 100vw;

    transition: background-color ease 1s;
}

.content-div {
    margin: 0 300px;
    margin-top: 15vh;
    background-color: var(--secondary-background);
    border-radius: 20px;
    transition: background-color 1s ease;

    /* Erase this when working with content-div, not important */
    height: 185vh;
    margin-bottom: 250px;
    /*  */

    z-index: 1;
}

.top-div {
    display: none;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    border-bottom: 2px solid var(--main-background);
    height: 8vh;
    background-color: var(--secondary-background);

    z-index: 10;

    transition-property: background-color border-color;
    transition-duration: 1s;
    transition-timing-function: ease;
}

@media (max-width: 1100px) {

    .friends-div {
        display: none;
    }

    .invisible-div {
        display: none;
    }

    .content-div {
        margin: 0px;
        border-radius: 0px;
    }

    .top-div {
        display: block;
    }
}